.item {
    width: 200px;
    display: inline-block;
}

.gray{
    background-color: #eee;
}

.circle {
    background-color: #868686;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    text-align: center;
    line-height: 26px;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}